.Toolbar {
  width: 100%;
  height: 56px;
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 90;
  border: 2px solid orange;
}

.Menu {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-right: 16px;
}

.Logo {
  height: 0px;
  width: 0px;
  background-color: white;
  /* padding: 4px 8px; */
  box-sizing: border-box;
  border-radius: 8px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

nav.DesktopOnly {
  display: flex;
  align-items: center;
}

/* Remove bullets from navigation bar in Toolbar */
nav.DesktopOnly ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
  .Toolbar {
    height: 48px;
    padding: 0 8px;
  }
  .Logo {
    height: 30px;
    width: 60px;
    padding: 2px 4px;
    margin: 0 4px;
  }
  .Menu {
    font-size: 16px;
    margin-right: 8px;
  }
  nav.DesktopOnly {
    font-size: 14px;
  }
  .DesktopOnly {
    display: none;
  }
}


