.Logo {
  /* height: 4px;         
  width: 0px; */
  background-color: white;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
  display: block;
}

@media (max-width: 500px) {
  .Logo {
    height: 40px;
    width: 80px;
    margin-bottom: 8px;
  }
}

.center-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh;  */
}